.wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex: 1;

  height: 100%;

  flex-direction: column;


  .form {

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    flex-direction: column;

    .btn {
      margin-top: 24px;
    }
  }

  h1,
  h3 {
    text-align: center;
  }

  h3 {
    padding: 16px 0;
  }
}