.wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &>span {
        padding-top: 8px;
    }

    .questionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 16px;
        padding-top: 16px;

        height: 100%
    }
}