.main {
  height: calc(100vh - 64px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: var(--white);
  border-radius: 16px;
  padding: 32px;

  width: 100%;
  min-height: 375px;

  overflow: auto;
  height: 500px;

  display: flex;
  flex-direction: column;

  @include respond(tablet) {
    padding: 24px;
  }

  @include respond(mobile) {
    padding: 16px;
  }
}
