@import "./fonts/fonts.scss";
@import "./reset.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-primary: rgba(07, 07, 23, 0.9);
  --white: #fff;
  --black: #000;

  --font-family-main: "Inter", sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-weight-m: 400;

  --font-size-ml: 24px;
  --font-line-ml: 32px;
  --font-ml: var(--font-size-ml) / var(--font-line-ml) var(--font-family-main);
  --font-weight-ml: 500;

  --font-size-l: 32px;
  --font-line-l: 40px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-weight-l: 600;
}

body {
  background-color: var(--bg-primary);
  color: var(--black);
  font-family: var(--font-family-main);
}

h1 {
  font: var(--font-l);
  font-weight: var(--font-weight-l);
}

h3 {
  font: var(--font-ml);
  font-weight: var(--font-weight-ml);
}

.error {
  visibility: hidden;
  opacity: 0;
}

.show {
  transition: opacity 0.2s ease-in-out;

  visibility: visible;
  opacity: 1;
  color: red;

  padding-top: 8px;
}
