@mixin respond($breakpoint) {
  @if $breakpoint==laptop {
    @media only screen and (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobileS {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}
